<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/main.css}" rel="stylesheet">
    <title>Add Wish</title>
</head>
<body>
<h1>Add Wish</h1>
<form th:action="@{/addWish}" th:object="${wishdto}" method="post">
    <label for="wish_name">Wish Name:</label>
    <input id="wish_name" class="form-control"
           type="text"
           th:field="*{wish_name}"
           placeholder="Enter wish name" />
    <br>

    <label for="description">Description:</label>
    <input id="description" class="form-control"
           type="text"
           th:field="*{description}"
           placeholder="Enter description" />
    <br>

    <label for="price">Price (in DKK):</label>
    <input id="price" class="form-control"
           type="number"
           th:field="*{price}"
           placeholder="Enter price" />
    <br>

    <label>Tags:</label>
    <br>
    <div>
        <th:block th:each="tag : ${avaliableTags}">
            <input type="checkbox" th:field="*{tagIds}" th:value="${tag.tag_id}"/>
            <label th:for="${tag.tag_id}" th:text="${tag.tag_name}"></label><br>
        </th:block>
    </div>

    <input type="hidden" th:field="*{wishlist_id}" th:value="${wishdto.wishlist_id}" />
    <input type="hidden" th:field="*{wish_id}" th:value="${wishdto.wish_id}" />

    <br>
    <button type="submit">Add Wish</button>

</form>

<form th:action="@{/login}" method="post">
    <button type="submit">Regret</button>
</form>
</body>
</html>
