<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="stylesheet.css">
  <link th:href="@{/main.css}" rel="stylesheet">
  <title>Wishlist</title>
</head>
<body>
<h1>Are you sure you want to delete this wish?</h1>
<form th:action="@{/deleteWish}" method="post">
  <input type="hidden" name="wishTagDTOId" th:value="${wishTagDTOId}">
  <button type="submit" class="btn">Delete</button>
</form>
<form th:action="@{/showallwishes}" method="get" style="display:inline;">
  <input type="hidden" name="userId" th:value="${userWishlistDTO.getUser_id()}"/>
  <input type="hidden" name="role" th:value="${userWishlistDTO.getRole_id()}"/>
  <button type="submit" class="btn2">Back</button>
</form>

</body>
</html>
