<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/main.css}" rel="stylesheet">
</head>
<body>
<form th:action="@{/login}" method="get">
    <label for="userId">Vælg bruger:</label>
    <select name="userId" id="userId" required>
        <!-- Iterer over brugere -->
        <option th:each="user : ${users}" th:value="${user.user_id}" th:text="${user.name}"></option>
    </select>

    <label for="role">Vælg rolle:</label>
    <select name="role" id="role" required>
        <!-- Iterér over roller -->
        <option th:each="role : ${roles}" th:value="${role.role_id}" th:text="${role.role_name}"></option>
    </select>

    <button type="submit">Log ind</button>
</form>
</body>
</html>
