<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link th:href="@{/main.css}" rel="stylesheet">
</head>
<body>
<h1>Login</h1>

<form th:action="@{/login}" method="post">
    <label for="userId">Select User's wishlist:</label>
    <select name="userId" id="userId" required>
        <option th:each="user : ${users}" th:value="${user.user_id}" th:text="${user.name}"></option>
    </select>

    <label for="role">Select ur Role:</label>
    <select name="role_id" id="role" required>
        <option th:each="role : ${roles}" th:value="${role.role_id}" th:text="${role.role_name}"></option>
    </select>

    <button type="submit">Log In</button>
</form>

<form th:action="@{/createUser}" method="get">
    <button type="submit">Create User</button>
</form>
</body>

</html>

