<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="stylesheet.css">
    <link th:href="@{/main.css}" rel="stylesheet">
    <title>Wishlist</title>
</head>
<body>

<header>
    <h1>Welcome to Your Wishlist <span th:text="${user}"></span></h1>
</header>

<main>
    <ul class="wishlist">
        <li th:each="wish : ${userWishlistDTO.wishes}" class="wish-item">
            <h2 th:text="'Wish: ' + ${wish.wish_name}">Wish name</h2>

            <form th:action="@{'/' + ${wish.wish_id} + '/show'}" method="post" style="display:inline;">
                <button type="submit">Show wish</button>
            </form>
            <form th:action="@{'/' + ${wish.wish_id} + '/delete'}" method="get" style="display:inline;">
                <button type="submit" class="btn">Delete wish</button>
            </form>
            <form th:action="@{'/' + ${wish.wish_id} + '/edit'}" method="get" style="display:inline;">
                <button type="submit" class="btn"> Edit wish</button>
            </form>
        </li>
    </ul>

    <!-- Sektion til generering af delingslink -->
    <div class="share-container">

        <form th:action="@{/generateShareLink}" method="get">
            <input type="hidden" name="wishlistId" th:value="${userWishlistDTO.wishlist_id}"/>
            <button type="submit">Generate Share Link</button>
        </form>

        <!-- Viser delingslinket efter det er genereret -->
        <div th:if="${shareLink != null}">
            <p>link to share wishlist:</p>
            <input type="text" th:value="${shareLink}" readonly>
            <button onclick="navigator.clipboard.writeText(this.previousElementSibling.value)">Kopier link</button>
        </div>
    </div>


    <div class="button-container">
        <form th:action="@{/addWish}" method="get">
            <input type="hidden" name="wishlist_id" th:value="${userWishlistDTO.wishlist_id}"/>
            <button type="submit">Add new Wish</button>
        </form>
        <form th:action="@{/}" method="get">
            <button type="submit">Back</button>
        </form>
    </div>
</main>
</body>
</html>
