<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Your wishlist</title>
    <link rel="stylesheet" href="stylesheet.css">
    <title>Wishlist</title>
</head>
<body>
<div>
    <header>
        <h1>This is your wishlist <span th:text="${user}"></span></h1>
    </header>
</div>
<ul>
    <li th:each="wish : ${userWishlistDTO.wishes}">
        <span th:text="${wish.wish_name}">Wish name</span>:
        <span th:text="${wish.price} 'DKK " >Price</span>
        <span th:text="${wish.description}">Description</span>
        <span th:text="${wish.price}">price</span>
        <p>Tags:</p>
        <div th:each="tag : ${wish.tagIds}">
            <div th:each="avaliabletag : ${avaliableTags}">
                <div th:if="${tag == avaliabletag.tag_id}">
                    <p><span th:text="${avaliabletag.tag_name}"></span></p>
                </div>
            </div>
        </div>
    </li>
</ul>
<td>
    <form th:action="@{/createUser}" method="get">
        <button type="submit">Opret bruger</button>
    </form>
</td>
</body>
</html>