<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="stylesheet.css">
    <link th:href="@{/main.css}" rel="stylesheet">
    <title>Wishlist</title>
</head>
<body>
<header>
    <h1>Welcome to Your Wishlist, <span th:text="${user}"></span></h1>
</header>

<main>
    <ul class="wishlist">
        <li th:each="wish : ${userWishlistDTO.wishes}" class="wish-item">
            <h2 th:text="${wish.wish_name}">Wish name</h2>
            <p><strong>Price:</strong> <span th:text="${wish.price + ' DKK'}">Price</span></p>
            <p><strong>Description:</strong> <span th:text="${wish.description}">Description</span></p>

            <div class="tags">
                <p><strong>Tags:</strong></p>
                <div th:each="tag : ${wish.tagIds}" class="tag">
                        <span th:each="avaliabletag : ${avaliableTags}" th:if="${tag == avaliabletag.tag_id}">
                            <span th:text="${avaliabletag.tag_name}"></span>
                        </span>
                </div>
            </div>
        </li>
    </ul>

    <div class="button-container">
        <form th:action="@{/addWish}" method="get">
            <button type="submit">Add new Wish</button>
        </form>
        <form th:action="@{/}" method="get">
            <button type="submit">Back</button>
        </form>
    </div>
</main>
</body>
</html>
